<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="login-form w-80 flex flex-col gap-4"
>
  <h2 class="text-2xl font-semibold text-center">Login</h2>

  <div class="{{ emailInvalid ? '-mb-3' : 'mb-0' }}">
    <app-input
      id="email1"
      type="email"
      w="100%"
      Text="Email"
      [control]="loginForm.get('email')!"
      [Class]="
        emailInvalid
          ? 'border-danger'
          : emailVazio
          ? 'border'
          : 'border-success'
      "
    />
    @if (emailInvalid) {
    <p class="text-red-500 text-sm mt-2 mb-0">Email inválido</p>
    }
  </div>

  <app-input
    [id]="'senha1'"
    [type]="'password'"
    [w]="'100%'"
    [Text]="'Senha'"
    [Class]="'mb-4'"
    [control]="loginForm.get('senha')!"
  />

  <app-button [valor]="'Entrar'" [w]="'100%'" [h]="'45px'"></app-button>

  <p class="text-center text-sm">
    Ainda não tem uma conta?
    <a
      (click)="this.router.navigateByUrl('/cadastro')"
      class="text-purple-600 cursor-pointer"
      >Cadastrar</a
    >
  </p>
</form>
