<div
  class="d-flex bg-white flex-column justify-between align-items-center h-100 bg-dark text-white py-3"
  style="width: 90px; border-radius: 0 20px 20px 0"
>
  <!-- Top logo -->
  <div class="mb-4">
    <a (click)="navigateTo('/')" class="cursor-pointer">
      <img src="favicon.ico" alt="Logo" />
    </a>
  </div>

  <!-- Middle icons -->
  <div
    class="flex-grow-1 d-flex flex-column align-items-center text-[#5D5D5D] secondary gap-4"
  >
    <a (click)="navigateTo('/')" class="cursor-pointer link-secondary">
      <i class="bi bi-file-earmark-word fs-3"></i>
    </a>
    <a (click)="navigateTo('/')" class="cursor-pointer link-secondary">
      <i class="bi bi-file-earmark-text fs-3"></i>
    </a>
    <a (click)="navigateTo('/')" class="cursor-pointer link-secondary">
      <i class="bi bi-play-btn fs-3"></i>
    </a>
  </div>

  <!-- Bottom icons -->
  <div class="d-flex flex-column align-items-center gap-3 text-[#5D5D5D]">
    <a (click)="navigateTo('/')" class="cursor-pointer link-secondary">
      <i class="bi bi-gear fs-3"></i>
    </a>
    <i class="bi bi-person-circle fs-2"></i>
  </div>
</div>
