<link rel="stylesheet" type="text/css" href="../sidebar/sidebar.component.css">
<div class="'sidebar">
    <ul>
        <li>
            <a
            (click)="this.router.navigateByUrl('/home')"
            style="
            position: absolute;
            top: 40px;
            left: 44px;
            height: 77.67px;
            width: 58px;
            box-shadow: 4px 4px 4 0 #FFFFFF rgba (255, 255, 255, 0.25);
            "
            >
        >
            <img src="/src/assets/svg/appLogo.svg">
            </a>
        </li>

        <li>
            <a
            (click)="this.router.navigateByUrl('/#')"
            style="
            position: absolute;
            top: 194px;
            left: 39px;
            height: 62px;
            width: 62px;
            "
            > <!-- Falta o link para a página dos jogos-->
        >
            <img src="/src/assets/svg/gamesButton.svg">
            </a>
        </li>

        <li>
            <a
            (click)="this.router.navigateByUrl('/#')"
            style="
            position: absolute;
            top: 296px;
            left: 42px;
            height: 55px;
            width: 55px;
            "
            > <!-- Falta o link para a página do material didático-->
        >
            <img src="/src/assets/svg/bookshelfButton.svg">
            </a>
        </li>

        <li>
            <a
            (click)="this.router.navigateByUrl('/#')"
            style="
            position: absolute;
            top: 404px;
            left: 46px;
            height: 45.79px;
            width: 38px;
            "
            > <!-- Falta o link para a página dos vídeos de tutorial-->
        >
            <img src="/src/assets/svg/tutorialButton.svg">
            </a>
        </li>

        <li>
            <a
            (click)="this.router.navigateByUrl('/#')"
            style="
            position: absolute;
            top: 817px;
            left: 37px;
            height: 64px;
            width: 64px;
            "
            > <!-- Falta o link para a página das configurações-->
        >
            <img src="/src/assets/svg/configButton.svg">
            </a>
        </li>

        <li>
            <a
            (click)="this.router.navigateByUrl('/#')"
            style="
            position: absolute;
            top: 920px;
            left: 41px;
            height: 60px;
            width: 60px;
            box-shadow: 4px 4px 4 0 #FFFFFF rgba (255, 255, 255, 0.25);
            "
            > <!-- Falta o link para a página do perfil-->
        >
            <img src="/src/assets/svg/profileButton.svg">
            </a>
        </li>
    </ul>
</div>