.error-code-overlay {
  position: absolute;
  top: 22%; /* Ajuste vertical */
  left: 54%; /* Ajuste horizontal */
  transform: translate(-50%, -50%) rotate(5deg); /* Move + gira no ângulo da placa */
  font-size: 6.5rem;
  font-weight: bold;
  color: #263238; /* Preto no branco da plaquinha */
  user-select: none;
}
