<a
  class="self-start -ml-16 icon-link icon-link-hover cursor-pointer"
  (click)="this.router.navigateByUrl('/login')"
>
  <i class="bi bi-arrow-left text-black text-2xl"></i>
</a>
<form
  [formGroup]="RegisterForm"
  (ngSubmit)="onSubmit()"
  class="login-form w-80 flex flex-col gap-4"
>
  <h2 class="text-2xl font-semibold text-center">Cadastro</h2>

  <app-input
    id="nome1"
    type="text"
    w="100%"
    Text="Nome"
    [control]="RegisterForm.get('nome')!"
  />

  <app-input
    id="sobrenome1"
    type="text"
    w="100%"
    Text="Sobrenome"
    [control]="RegisterForm.get('sobrenome')!"
  />

  <div class="{{ emailInvalid ? '-mb-3' : 'mb-0' }}">
    <app-input
      id="email1"
      type="email"
      w="100%"
      Text="Email"
      [control]="RegisterForm.get('email')!"
      [Class]="emailInvalid ? 'border-danger' : 'border rounded'"
    />
    @if (emailInvalid) {
    <p class="text-red-500 text-sm mt-2 mb-0">Email inválido</p>
    }
  </div>

  <app-input
    id="senha1"
    type="password"
    w="100%"
    Text="Senha"
    [control]="RegisterForm.get('senha')!"
    [Class]="senha2Invalida ? 'border border-danger rounded' : 'border rounded'"
  />

  <div class="{{ senha2Invalida ? '' : 'mb-4' }}">
    <app-input
      id="senha2"
      type="password"
      w="100%"
      Text="Confirmar Senha"
      [control]="RegisterForm.get('senha2')!"
      (blurEvent)="verificaSenha2()"
      [Class]="
        senha2Invalida ? 'border border-danger rounded' : 'border rounded'
      "
    />
    @if (senha2Invalida) {
    <p class="text-red-500 text-sm mt-2 mb-0">As senhas não coincidem</p>
    }
  </div>

  <app-button [valor]="'Cadastrar'" [w]="'100%'" [h]="'45px'"></app-button>
</form>
