input[type="email"]:focus ~ label,
input[type="email"]:not(:placeholder-shown) ~ label {
  animation: anime 90ms ease-out forwards;
}
input[type="text"]:focus ~ label,
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:not(:placeholder-shown) ~ label {
  animation: anime2 90ms ease-out forwards;
}

@keyframes anime {
  from {
    margin-top: -34px;
  }
  to {
    margin-top: -70px;
  }
}
@keyframes anime2 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -28px;
  }
}
